.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    margin-bottom: 2.5rem;
}

.graph_container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_selected {
    color: #333;
    font-size: 1.5rem;
}
