.card {
    margin: 0 auto;
    width: 80%;
}

.content {
    padding: 2.5rem 2.5rem;
    background-color: #F7F7F7;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }

    .content {
        padding: 1.5rem 1.5rem;
    }
}